<app-loading class="m-5 contPrin" *ngIf="loading"></app-loading>

<div class="row animated fadeIn" style="margin-left: 10%;" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-danger">Regresar</button>
    </div>
</div>

<div class="row m-5 contPrin">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <th><img [src]="track.album.images | noimage" class="imageAlbum"></th>
                    <th>{{ track.album.name }}</th>
                    <th>{{ track.name }}</th>
                    <th>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.uri | domseguro : 'https://open.spotify.com/embed/'" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>